<div class="sub-nav">
  <nav class="sub-nav-item">
    <a class="router-link" routerLinkActive="active" routerLink="/index">推荐</a>
    <a class="router-link" routerLinkActive="active" routerLink="/frontend">Web开发</a>
    <a class="router-link" routerLinkActive="active" routerLink="/native_dev">原生开发</a>
    <a class="router-link" routerLinkActive="active" routerLink="/start_up">创业投资</a>
    <a class="router-link" routerLinkActive="active" routerLink="/ux">交互设计</a>
    <a class="router-link" routerLinkActive="active" routerLink="/ui">视觉设计</a>
    <a class="router-link" routerLinkActive="active" routerLink="/tech_fun">科技酷玩</a>
    <a class="router-link" routerLinkActive="active" routerLink="/app">软件猎奇</a>
    <a class="router-link" routerLinkActive="active" routerLink="/overseas">海外频道</a>
  </nav>
</div>
