<div class="side-info">
  <div class="aside-box">
    <h4 class="aside-title">立即加入</h4>
    <p class="aside-text">同步APP的点赞、评论和个性化设置</p>
    <div class="login-btn btn-green">微信登录</div>
    <div class="login-btn btn-red">微博登录</div>
  </div>
  <div class="aside-box">
    <h4 class="aside-title">下载轻氧APP</h4>
    <div class="aside-qrcode text-align">
      <img src="https://app.aotu.io/img/ios-qr.png" width="150" alt="app">
    </div>
    <p class="aside-text text-align">IOS/Android客户端</p>
  </div>
  <div class="aside-box">
    <h4 class="aside-title">关注我们</h4>
    <div class="aside-qrcode text-align">
      <img src="https://aotu.io/img/qrcode.jpg" width="150" alt="app">
    </div>
    <p class="aside-text text-align">微信公众号</p>
  </div>
</div>
